.loader,
.error {
  justify-self: center;
  align-self: center;
}

.container {
  margin: 0 auto;
  width: min(90%, 1050px);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.flags {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 1em;
}
