.loader,
.error {
  justify-self: center;
  align-self: center;
}

.container {
  width: min(90%, 1100px);
  height: 100%;
}

.flags {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 1em;
}

.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

// Tablets or iPad
@media (480px < width < 768px) {
  .flags {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    p {
      font-size: 15px;
    }
  }
}

// Mobile Devices
@media (320px < width < 480px) {
  .flags {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    p {
      font-size: 12px;
    }
  }
}
