.loader,
.error {
  justify-self: center;
  align-self: center;
}

.container {
  margin: 0 auto;
  width: $container-width;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.flags {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.btn-theme {
  background-color: transparent;
  color: white;
  padding: 10px 5px;
  width: 110px;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: $rounded-corners;
  border: 1px solid $brand-color;
  transition: all 100ms;

  i {
    font-size: 1.5em;
  }

  &:hover {
    border: 1px solid white;
  }
}
