@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$blue: #3e80b6;
$green: #4cd151;
$red: #f33030;

$light: #dfdfdf;
$dark: #121212;

$shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

$shadow2: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

$rounded-corners: 5px;
$brand-color: $blue;
