.search-bar {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 400px;
    padding: 0.25em 0.5em 0.25em 2.25em;
    font-size: 1.1em;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: $rounded-corners;

    &:focus {
      border: 1px solid $light;
      outline: 1px solid $brand-color;
    }
  }

  i {
    color: gray;
    position: absolute;
    left: 0.5em;
    font-size: 1.25em;
  }
}
